.idea/
*.pyc
Pyevolve
results_gaql_grouped
results_UCB1Discounted_grouped
results_Thompson_grouped
results_UCB_grouped
results_Rexp3_grouped
results_Rexp3MA_grouped
.cache
tarefa.py
*.swp
*.py~
networks
results_UCB1Window_grouped/
